
<ion-header>
  <ion-navbar no-border-bottom>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Gallery
    </ion-title>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="gallery">
      <ion-segment-button value="photos">
        Photos
      </ion-segment-button>
      <!-- <ion-segment-button value="kittens">
        Music
      </ion-segment-button> -->
      <ion-segment-button value="videos">
        Video
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div [ngSwitch]="gallery">
    <ion-list *ngSwitchCase="'photos'">
    <!--  <ion-grid *ngSwitchCase="'regular'"> -->
       <h3>Sankalpa Yatre Photos</h3>
      <ion-row>
       
        <ion-col col-6 col-md-4 col-xl-3 *ngFor="let item of data">
          <!-- <div class="image-container" [style.background-image]="'url(assets/img/' + image + '.jpg)'"></div> -->

          <h5>{{item.Title}}</h5>
            <div >
              <img src="{{item.Link}}" imageViewer  />
            </div>
        </ion-col>

      </ion-row>

      <!-- <ion-row>
         <h3>Sidarameshwara Appaji Photos</h3>
        <ion-col col-6 col-md-4 col-xl-3 *ngFor="let image of [8,9]">
         
            <div style="margin-left:-10px;width:calc(100% + 20px);">
              <img src="assets/img/Admin-Office.jpg" imageViewer style="display:block;width:100%;height:90;margin-left:auto;margin-right:auto;" />
            </div>
        </ion-col>
      </ion-row> -->
   <!--  </ion-grid> -->
    </ion-list>

  

    <ion-list *ngSwitchCase="'videos'">
     <ion-grid id="idListViewVideo" >
   

  <ion-list id="idListViewList" >
    <ion-item class="icon-item-bg" style="background-color:#f5ecec;" color="positive">
      <!-- <h3  style="color:#ff7500;font-size: 25px;"> 
        Shri Siddharameshwara || Sankalpa Yatre || Motion Poster
      </h3> -->
      <div style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="gallery-video11">
      <iframe src="https://www.youtube.com/embed/CoHVPvj0tsM?rel=0&amp;showinfo=0?modestbranding=1" frameborder="0" allowfullscreen  style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    </ion-item>
    <hr>
    <ion-item class="icon-item-bg" style="background-color:#f5ecec;" color="positive">
      <!-- <h3  style="color:#ff7500;font-size: 25px;"> 
        Shri Siddharameshwara Sankalpa Yatre || Details Of Event
      </h3> -->
      <div style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" >
      <iframe src="https://www.youtube.com/embed/YmXIsADxyQg?rel=0&amp;showinfo=0?modestbranding=1" frameborder="0" allowfullscreen  style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    </ion-item>
    <hr>

     <ion-item class="icon-item-bg" style="background-color:#f5ecec;" color="positive">
      <!-- <h3  style="color:#ff7500;font-size: 25px;"> 
        Shri Siddharameshwara Sankalpa Yatre || Details Of Event
      </h3> -->
      <div style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" >
      <iframe src="https://www.youtube.com/embed/DNS4yghk1w8?rel=0&amp;showinfo=0?modestbranding=1" frameborder="0" allowfullscreen  style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    </ion-item>
    <hr>

    <ion-item class="icon-item-bg" style="background-color:#f5ecec;" color="positive">
      <!-- <h3  style="color:#ff7500;font-size: 25px;"> 
        Shri Siddharameshwara Sankalpa Yatre || Details Of Event
      </h3> -->
      <div style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" >
      <iframe src="https://www.youtube.com/embed/bUDRFxNZjhg?rel=0&amp;showinfo=0?modestbranding=1" frameborder="0" allowfullscreen  style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    </ion-item>
    <hr>


<ion-item class="icon-item-bg" style="background-color:#f5ecec;" color="positive">
      <!-- <h3  style="color:#ff7500;font-size: 25px;"> 
        Shri Siddharameshwara Sankalpa Yatre || Details Of Event
      </h3> -->
      <div style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" >
      <iframe src="https://www.youtube.com/embed/uK7UeFRS1U0?rel=0&amp;showinfo=0?modestbranding=1" frameborder="0" allowfullscreen  style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    </ion-item>
    <hr>

<ion-item class="icon-item-bg" style="background-color:#f5ecec;" color="positive">
      <!-- <h3  style="color:#ff7500;font-size: 25px;"> 
        Shri Siddharameshwara Sankalpa Yatre || Details Of Event
      </h3> -->
      <div style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" >
      <iframe src="https://www.youtube.com/embed/RTnYCwdo3rY?rel=0&amp;showinfo=0?modestbranding=1" frameborder="0" allowfullscreen  style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    </ion-item>
    <hr>

    <ion-item class="icon-item-bg" style="background-color:#f5ecec;" color="positive">
      <!-- <h3  style="color:#ff7500;font-size: 25px;"> 
        Shri Siddharameshwara Sankalpa Yatre || Details Of Event
      </h3> -->
      <div style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" >
      <iframe src="https://www.youtube.com/embed/AeOxoHlZsz4?rel=0&amp;showinfo=0?modestbranding=1" frameborder="0" allowfullscreen  style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    </ion-item>
    <hr>






  </ion-list>

  </ion-grid>
  </ion-list>

  </div>
</ion-content>
