page-home {
/* Make it a marquee */
.marquee {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    animation: marquee 35s linear infinite;
}

.marquee:hover {
  animation-play-state: paused
}

/* Make it move */
@keyframes marquee {
    0%   { text-indent: 30em }
    100% { text-indent: -105em }
}

/*circle-pic{
	border-radius: 30%;
	}*/

    /*ion-icon {
        font-size: 6rem; //Preferred size here
        padding: 1rem;
    }*/

    h6 {
        font-size: 2rem;
        text-align:center;
    }

    h5 {
        font-size: 2.1rem;
        text-align:center;
    }

ion-img.img_border_r.img-loaded img {
    border-radius: 1rem;
}   

swiper-slider-new{
  height:250px !important;  
}

}

