page-jagadgurus {
	.pwrap{
		white-space: pre-wrap;
		text-align: center;
		color:black;
	}

	.jagadguruHeader{
		text-align: center;
		color:#482814;
		text-decoration: underline;
		font-weight:bolder;
	}

	.no-scroll .scroll-content{
    	 overflow: hidden;
	}

	.icon-item-bg{
		background-color:#fdf5f8;
		border-radius:15px 15px 15px 15px;

	}
	
	.icon-image{
	    border-radius: 1.7rem;

	}

}
