<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Events
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page1" style="background-color:#f5ecec;">

  <div>
    <button ion-button full id="idButtonToggle" style="background-color:#f5ecec;color: red;" on-click="showEventToggle(param)">
      Show in Other View
    </button>
  </div>


 <ion-grid id="idTable" hidden="false">

  <ion-searchbar
    [(ngModel)]="myInput"
    [showCancelButton]="shouldShowCancel"
    (ionInput)="getItems($event)"
    (ionCancel)="onCancel($event)"
    placeholder="Search mutts here">
  </ion-searchbar>  

  <ion-row justify-content-center>
    <ion-col col-50 style="font-weight: bolder;text-align:center;font-size: large;">
      Date
    </ion-col>
    <ion-col col-50 style="font-weight: bolder;text-align:center;font-size: large;">
      Description
    </ion-col>
    <ion-col col-50 style="font-weight: bolder;text-align:center;font-size: large;">
      Place
    </ion-col>
  </ion-row>



  <ion-row justify-content-center *ngFor="let hero of data">
    <ion-col col-50 style="font-size: large;color: black;text-align:center;">
     {{hero.Date}}
    </ion-col>
    <ion-col col-50 style="font-size: large;color: black;text-align:center;">
      {{hero.Description}}
    </ion-col>
    <ion-col col-50 style="font-size: large;color: black;text-align:center;">
      {{hero.Place}}
    </ion-col>
  </ion-row>

 
</ion-grid>

  <ion-grid id="idListView">
   

  <ion-list *ngFor="let hero of data">
    <ion-item class="icon-item-bg" style="background-color:#f5ecec;" color="positive" on-click="goToEventsDetail(hero)" >
      <!-- <ion-thumbnail item-left>
        <img src="assets/img/SiddalingaAppaji.jpg" />
      </ion-thumbnail> -->
      <h1  style="color:#ff7500;font-size: 25px;"> 
        {{hero.Date}} 
      </h1>
      
      <p class="pwrap">{{hero.Description}} </p>
      <h6     style="font-size: larger;"> 
        {{hero.Place}} 
      </h6>
    </ion-item>
    <hr>
  </ion-list>

  </ion-grid>
  <!-- <button id="events-button1" ion-button color="royal" block style="color:#FFFFFF;border-radius:24px 24px 24px 24px;" href-inappbrowser="http://bp9news.com/mmt-run-to-basava-purana-on-the-siddharameshwar-sankalpa-yatra1122/">
    ಶ್ರೀ ಸಿದ್ಧರಾಮೇಶ್ವರ ಸಂಕಲ್ಪ ಯಾತ್ರೆ
  </button> -->

</ion-content>